
<div class="row">
    <div class="tabbable-panel col-md-12">
        <h3 class="page_geader">Create Organization</h3>
    </div>
</div>
<div class="col-md-12 no-pad" ng-controller="OrganizationController">
    <div class="col-lg-12 no-pad">
        <div class="control-group col-lg-6">
            <label class="control-label" for="txtOrgName">Name</label>
            <div class="controls">
                <input type="text" ng-model="OrganizationName" id="txtOrgName" />
            </div>
        </div>
        <div class="control-group col-lg-6">
            <label class="control-label" for="txtAddress">Address</label>
            <div class="controls">
                <input type="text" ng-model="OrganizationAddress" id="txtAddress" />
            </div>
        </div>
    </div>
    <div class="control-group col-lg-6">
        <label class="control-label" for="txtPhone">Phone No</label>
        <div class="controls">
            <input type="text" ng-model="OrganizationPhone" id="txtPhone" />
        </div>
        <div class="control-group col-lg-6">
            <label class="control-label" for="txtDescription">Is Active</label>
            <div class="controls">
                <input id="checkSlave" type="checkbox" ng-checked="IsActive" />
            </div>
        </div>
    </div>
    <div class="col-lg-12 no-pad">
        <div class="control-group col-lg-6">
            <label class="control-label" for="txtUrl">Organization URL</label>
            <div class="controls">
                <input type="text" ng-model="OrganizationURL" id="txtUrl" />
            </div>
        </div>
        <div class="control-group col-lg-6">
            <label class="control-label" for="txtDescription">Description</label>
            <div class="controls">
                <input type="text" ng-model="OrganizationDescription" id="txtDescription" />
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="control-group no-pad text-right">
            <div class="controls">
                <input id="submit" name="Save" value="Save" type="button" class="btn btn-primary" ng-click="SaveOrganization()" />
                <input id="button" name="Cancel" value="Cancel" type="button" class="btn btn-primary disabled" />
            </div>
        </div>
    </div>
</div>

