<div ng-controller="SpreadsheetController">
    <div class="bs-callout bs-callout-warning">
        <h4>Spreadsheet File Format Explanation</h4>
        <ol>
            <li>
                Download the below linked spreadsheet
            
            </li>
            <li> Fill the spreadsheet </li>
            <li>
                Upload it 
              
            </li>
            <li>
                If you have attached image for certain question, please upload the images in here.
                Remember to keep the image name exactly same as the question code of corresponding question.
                
            </li>
            <a class="btn btn-default btn-xs"
               target="_self" href="http://localhost:60142/Files/excel_format.xlsx"
               download="excel_format.xlsx">Download Spreadsheet</a>
            <button class="btn btn-primary btn-xs" type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                    accept=".xls,.csv,.xlsx" ngf-max-height="1000" ngf-max-size="1MB">
                Upload Spreadsheet
            </button>
            <button class="btn btn-success btn-xs" ngf-select="uploadImages($files, $invalidFiles)" multiple
                    accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                Upload Images
            </button>
        </ol>
    </div>
    
    <div name ="spreadsheet" class="list-group">
        <h4 class="list-group-item-heading">
            File:
        </h4>
        <p class="list-group-item-text">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}} </p>
        <div class="progress" ng-show="f.progress >= 0">
            <div class="progress-bar progress-bar-striped" aria-valuenow="{{f.progress}}%" aria-valuemin="0" aria-valuemax="100" style="width:100%"
                 ng-bind="f.progress + '%'"></div>
        </div>
        {{errorMsg}}
    </div>
    <div name ="images" class="list-group">
        <h4 class="list-group-item-heading">
            Images:
        </h4>
        <ul>
            <li ng-repeat="file in files" style="font:smaller">
                {{file.name}} {{file.$errorParam}}
                <div class="progress" ng-show="file.progress >= 0">
                    <div class="progress-bar progress-bar-success progress-bar-striped" aria-valuenow="{{file.progress}}%" aria-valuemin="0" aria-valuemax="100" style="width:100%"
                         ng-bind="file.progress + '%'"></div>
                </div>
            </li>
        </ul>
    </div>
